/*=======================================
-> Colors
=======================================*/
$primary-color: #6a8c69;
$secondary-color: #53736a;
$complementar-color: #024554;
$accent-color: #cb7749;
$background-color: #f1f1f0;
$text-dark: #1d1d1d;
$text-light: #ffffff;
$gray-background: #e3e3e3;
