/*=======================================
-> Colors
=======================================*/
$primary-color: #6a8c69;
$secondary-color: #53736a;
$complementar-color: #024554;
$background-color: #e8e9e3;
$text-color: #121212;
