.header {
  &__content {
    &__title {
      line-height: 1;
      width: fit-content;

      font: {
        size: 5rem;
        weight: 600;
      }

      margin: {
        bottom: 1.5rem;
      }

      small {
        font: {
          size: 3.5rem;
          weight: 500;
        }
      }

      &::after {
        content: "";
        display: block;
        width: 66%;
        height: 1.5rem;
        background-color: $primary-color;
        margin-top: -1rem;
      }
    }

    &__subtitle {
      margin: {
        bottom: 2rem;
      }

      max-width: 80%;
    }

    &__btns {
      .btn {
        &:last-child {
          margin-left: 1.5rem;
        }
      }
    }
  }

  &__image {
    height: calc(100vh - 134px);
    display: flex;
    align-items: center !important;
  }
}

.theme {
  max-width: 85vw;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; // Oculta a barra de rolagem no Firefox
  scrollbar-color: transparent transparent; // Tentativa de tornar a barra transparente no Firefox, mas a propriedade relevante aqui é `scrollbar-width: none`

  padding: {
    bottom: 2rem;
  }

  margin: {
    left: auto;
    right: 0;
  }

  .row {
    flex-wrap: nowrap;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &-card {
    width: fit-content;
    padding: 0.5rem;

    background: {
      color: #dadada;
    }

    border: {
      radius: 0.7rem;
    }

    margin: {
      right: 2rem;
    }

    &__icon {
      padding: 1.5rem 1.7rem;

      border: {
        radius: 0.7rem;
      }

      background: {
        color: #c3c3c3;
      }
    }

    &__content {
      min-width: 10rem;

      padding: {
        left: 0.5rem;
        right: 1rem;
      }

      &__title {
        margin: 0;

        font: {
          size: 0.9rem;
        }
      }
    }
  }
}

.section {
  .section {
    &__title {
      line-height: 1;

      font: {
        size: 4rem;
        weight: 600;
      }

      margin: {
        bottom: 3rem;
      }
    }

    &__paragraph {
      margin: {
        bottom: 2rem;
      }

      &:last-child {
        margin: 0;
      }
    }
  }
}

.about {
  padding: {
    top: 7rem;
    bottom: 7rem;
  }

  &__content {
    padding: {
      right: 6rem;
    }
  }

  &__image {
    img {
      border: {
        radius: 2rem;
      }
    }
  }
}

.faq {
  padding: {
    top: 2rem;
    bottom: 7rem;
  }

  &__accordion {
    padding: {
      right: 3rem;
    }

    .accordion {
      &-item {
        margin: {
          bottom: 1rem;
        }

        background: {
          color: #e3e3e3;
        }

        border: {
          radius: 1.8em;
        }

        &:last-child {
          margin: {
            bottom: 0;
          }
        }
      }

      &-button {
        padding: 2rem;

        background: {
          color: transparent;
        }

        &:not(.collapsed) {
          color: $accent-color;
        }
      }

      &-body {
        padding: {
          top: 0;
          left: 2rem;
          right: 2rem;
          bottom: 2rem;
        }
      }
    }
  }

  &__content {
    padding: {
      left: 3rem;
    }

    .section {
      &__title {
        text-align: right;
      }

      &__paragraph {
        text-align: right;
      }
    }
  }
}
